after-startup-command = [
  'exec-and-forget borders active_color=0xffFAB387 inactive_color=0xFF1E1E2E width=4.0'
]

exec-on-workspace-change = ['/bin/bash', '-c',
    'sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE PREV_WORKSPACE=$AEROSPACE_PREV_WORKSPACE'
]

start-at-login = true

enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

accordion-padding = 30

default-root-container-layout = 'tiles'
default-root-container-orientation = 'auto'

key-mapping.preset = 'qwerty'

on-focused-monitor-changed = ['move-mouse monitor-lazy-center']
on-focus-changed = ['move-mouse window-lazy-center']
automatically-unhide-macos-hidden-apps = true

[gaps]
inner.horizontal = 18
inner.vertical =   18
outer.bottom =     18
outer.top =        60
# outer.top =        26

# normal size
outer.left =       18
outer.right =      18
# ultra wide
# outer.right =       350
# outer.left =        350


[mode.main.binding]


alt-slash = 'layout tiles horizontal vertical'
alt-comma = 'layout accordion horizontal vertical'

alt-h = 'focus left'
alt-j = 'focus down'
alt-k = 'focus up'
alt-l = 'focus right'

alt-shift-h = 'move left'
alt-shift-j = 'move down'
alt-shift-k = 'move up'
alt-shift-l = 'move right'

alt-shift-minus = 'resize smart -50'
alt-shift-equal = 'resize smart +50'

alt-1 = 'workspace 1' # Misc 1
alt-2 = 'workspace 2' # Misc 2
alt-a = 'workspace A' # AI
alt-c = 'workspace C' # Chrome
alt-d = 'workspace D' # Dev Tools
alt-e = 'workspace E' # Email
alt-m = 'workspace M' # Microsoft Teams
alt-n = 'workspace N' # Notes
alt-s = 'workspace S' # Slack
alt-t = 'workspace T' # Termnial
alt-y = 'workspace Y' # YouTube Music
alt-x = 'workspace X' # Xcode
alt-p = 'workspace P' # Xcode

alt-shift-1 = 'move-node-to-workspace 1'
alt-shift-2 = 'move-node-to-workspace 2'
alt-shift-a = 'move-node-to-workspace A'
alt-shift-c = 'move-node-to-workspace C'
alt-shift-d = 'move-node-to-workspace D'
alt-shift-e = 'move-node-to-workspace E'
alt-shift-m = 'move-node-to-workspace M'
alt-shift-n = 'move-node-to-workspace N'
alt-shift-s = 'move-node-to-workspace S'
alt-shift-t = 'move-node-to-workspace T'
alt-shift-y = 'move-node-to-workspace Y' 
alt-shift-x = 'move-node-to-workspace X'
alt-shift-p = 'move-node-to-workspace P'

alt-f = 'fullscreen'
alt-tab = 'workspace-back-and-forth'
alt-shift-semicolon = 'mode service'

[mode.service.binding]
esc = ['reload-config', 'mode main']
r = ['flatten-workspace-tree', 'mode main'] 
f = ['layout floating tiling', 'mode main']
b = [
  'exec-and-forget borders active_color=0xffFAB387 inactive_color=0xFF1E1E2E width=4.0',
 'mode main' 
]
u = ['resize width 600', 'mode main']
backspace = ['close-all-windows-but-current', 'mode main']

alt-shift-h = ['join-with left', 'mode main']
alt-shift-j = ['join-with down', 'mode main']
alt-shift-k = ['join-with up', 'mode main']
alt-shift-l = ['join-with right', 'mode main']

[[on-window-detected]]
    if.app-id = 'com.apple.iphonesimulator'
    run = ['layout tiling', 'move-node-to-workspace D']

[[on-window-detected]]
    if.window-title-regex-substring = 'React Native'
    run = 'move-node-to-workspace D'

[[on-window-detected]]
    if.app-id = 'com.electron.cypress'
    run = 'move-node-to-workspace D'
